@using ElectroShop.App.Controllers;
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-12 col-lg-6">
    <h2 class="ml-3">Popular products</h2>
    @foreach (var product in Model.Products)
    {
        <div class="d-flex position-relative my-2 p-3 rounded bg-white border">
            <img src="@product.ProductImagePath" class="flex-shrink-0 me-3" alt="@product.ProductName">
            <div>
                <h5 class="mt-0">@product.ProductName</h5>
                <p>@product.Price</p>
                <a href="@product.ProductPageUrl" class="stretched-link"></a>
            </div>
        </div>
    }
</div>