@using ElectroShop.App.Controllers;
@model ProductViewModel
@{
    ViewData["Title"] = "Product Page";
}

<div class="container">
    <h2 class="ml-3">@Model.Product.ProductName</h2>
    <div class="d-flex position-relative my-2 p-3 rounded bg-white border">
        <img src="@Model.Product.ProductImagePath" class="flex-shrink-0 me-3" alt="@Model.Product.ProductName">
        <div>
            <h5 class="mt-0">@Model.Product.ProductName</h5>
            <p>@Model.Product.Price</p>
            <a asp-controller="basket" asp-action="add" asp-route-id="@Model.Product.ProductId">Add to Basket</a>
        </div>
    </div>
</div>