@model WishlistViewModel
@{
    ViewData["Title"] = "Wishlist";
}

<div class="container col-12 col-lg-6">
    <h2 class="ml-3">Products in wishlist </h2>
    @foreach (var product in Model.WishlistElements)
    {
            <div class="d-flex position-relative my-2 p-3 rounded bg-white border">
                <img src="@product.ProductImagePath" 
                class="flex-shrink-0 me-3" alt="@product.ProductName">
                <div>
                    <a href="@product.ProductPageUrl">
                        <h5 class="mt-0">@product.ProductName</h5>
                    </a>
                    <p>base price: @product.Price</p>
                    <p>added date: @product.AddedDate</p>
                    <a asp-controller="wishlist" asp-action="delete" 
                    asp-route-wishlistElementId="@product.WishlistElementId">
                        Delete from Wishlist</a>
                </div>
            </div>
    }
</div>